/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 

body {
    background-color: salmon;
}

header {
    background-color: rgba(213, 39, 24, 0.5);
    margin-bottom: 10px;
}

footer {
    background-color: rgba(351, 190, 170, 0.5);
    margin-top: 10px;
}

img {
    height: 500px;
    width: 300px;
    border: 7px dashed plum;
    margin-left: 10px;
}

h1 {
    text-align: center;
}

p {
    color: darkslategrey;
    font-style: italic;
}

ul li {
    font-family: "Roboto Mono", Georgia, serif;
}